* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-brown: #634f2c;
  --color-cappuccino: #b4a385;
  --color-gold: #e4b564;
  --color-iwai-brown: #635a4a;
  --color-bronze: #b08c4d;

  --color-vampire-black: #0e0e0e;
  --color-chestnut-oak-black: #242424;
  --color-audi-brilliant-black: #1f1f1f;
  --color-rich-black: #0a0909;

  --color-black: #171717;

  --color-hover: rgba(232, 210, 171, 0.76);
}

.wrapper {
  margin: 0 auto;
  width: 1920px;
  height: 4000px;
  background: var(--color-black);
  font-family: "Fira Sans Extra Condensed", sans-serif;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 238px;
}

.header {
  width: 1460px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto 120px;
}

.header-logo {
  width: 216px;
  height: 33px;
}

.header-button__phone {
  padding-right: 20px;
}

.header-button {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  border: 1px solid var(--color-gold);
  color: var(--color-gold);
  font-size: 18px;
  line-height: 1.5;
  padding: 10px 25px;
  cursor: pointer;
}

.section-1,
.section-2,
.section-3 {
  margin: 0 auto;
  width: 1460px;
}

.section-1__title {
  margin-top: 130px;
  font-size: 50px;
  line-height: 1.5;
}

.section-1__description {
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.5;
}

.block-1 {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 468px;
  gap: 30px;
}

.block-1__item1 {
  grid-column: span 2;
  background: var(--color-brown);
}

.block-1__item2 {
  grid-column: span 2;
  background: var(--color-cappuccino);
}
.block-1__item3 {
  grid-column: span 2;
  background: var(--color-gold);
}

.block-1__item4 {
  grid-column: span 3;
  background: var(--color-iwai-brown);
}

.block-1__item5 {
  grid-column: span 3;
  background: var(--color-bronze);
}

.block-1__text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  font-size: 20px;
  line-height: 1.5;
}

.section-2__title {
  margin-top: 160px;
  height: 50px;
  font-size: 50px;
  line-height: 1.5;
}

.block-2 {
  margin-top: 90px;
  height: 897px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(16, 1fr);
  gap: 30px;
}

.block-2__item1 {
  grid-row: 1/7;
  grid-column: 1;
  background: var(--color-vampire-black);
}

.block-2__item2 {
  grid-row: 1/9;
  grid-column: 2;
  background: var(--color-chestnut-oak-black);
}

.block-2__item3 {
  grid-row: 1/6;
  grid-column: 3;
  background: var(--color-audi-brilliant-black);
}

.block-2__item4 {
  grid-row: 7/17;
  grid-column: 1;
  background: var(--color-audi-brilliant-black);
}

.block-2__item5 {
  grid-row: 9/17;
  grid-column: 2;
  background: var(--color-gold);
  margin-bottom: 30px;
}

.block-2__item6 {
  grid-row: 6/12;
  grid-column: 3;
  background: var(--color-vampire-black);
}

.block-2__item7 {
  grid-row: 12/17;
  grid-column: 3;
  background: var(--color-rich-black);
}

.block-2__text {
  margin-top: 44px;
  margin-left: 52px;
  width: 302px;
  font-size: 20px;
  line-height: 1.5;
}

.block-2__item5 > .block-2__text {
  color: #000;
}

.block-2__text span {
  font-weight: bold;
}

.wrapper__section-3 {
  margin-top: 190px;
  width: 1920px;
  height: 1022px;
  background-color: var(--color-vampire-black);
}

.section-3__header {
  padding-top: 170px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-3__title {
  font-size: 50px;
  line-height: 1.5;
}

.section-3__button {
  font-size: 18px;
  line-height: 1.5;
  text-decoration: none;
  color: var(--color-gold);
  border: 1px solid var(--color-gold);
  padding: 10px 40px;
  cursor: pointer;
}

.block-3 {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}

[class^="block-3__item-"] {
  display: flex;
  min-width: 485px;
  min-height: 391px;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

[class^="block-3__item-"]:hover {
  background: var(--color-hover);
  transition: all 0.5s ease-in-out;
}

.link-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.item-text {
  margin-top: 16px;
  width: 326px;
  height: 140px;
  text-align: center;
  font-size: 22px;
  line-height: 1.5;
  color: #ffffff;
  display: none;
  transition: all 0.5s ease-in-out;
}

.item-text > span {
  font-weight: bold;
}
.link-item:hover .item-text {
  display: block;
  transition: all 0.5s ease-in-out;
}

.block-3__item-1 {
  background: var(--color-brown);
}
.block-3__item-2 {
  background: var(--color-cappuccino);
}
.block-3__item-3 {
  background: var(--color-gold);
}
.block-3__item-4 {
  background: var(--color-iwai-brown);
}
.block-3__item-5 {
  background: var(--color-bronze);
}
.block-3__item-6 {
  background: var(--color-brown);
}
